*{
    margin: 0;
    font-family:'arial';
    text-align: center;
}

header{
    background-color: #680d48;
    
}
nav{
    background-color: #680d48;
padding: 20px;
}
body{
    background-color: #a80e72;
}
p:hover {
    text-decoration: underline;
    color: rgb(255, 0, 132);
      }
    a{
        text-decoration: 0;
        color: aliceblue;
        padding: 10px;
        font-size: 20px;
    }
    a:hover{
        color: #ffffff;
        background-color: #0000005b;
        border-radius: 10px;
    }
    
    